<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>メッセージ</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="handleSignOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <ion-input label="メッセージ" label-placement="stacked" fill="outline" type="text" [(ngModel)]='newMessage.message'></ion-input>
        </ion-col>
        <ion-col size="3">
          <button (click)="handleAddNewMessage()">投稿</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-card *ngFor="let message of threeMessages">
    <ion-card-header>
      <ion-card-title>{{message.payload.doc.data().message}}</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-no-padding">
      <ion-grid fixed class="ion-no-padding">
        <ion-row>
          <ion-col size="3">
            <div class="ion-activatable ripple-parent" (click)="handleEdit(message.payload.doc.id, message.payload.doc.data().authorUid)">
              <ion-icon class="ion-padding" name="pencil-sharp">
              </ion-icon>
              <ion-label>編集</ion-label>
              <ion-ripple-effect></ion-ripple-effect>
              <ion-toast [isOpen]="isToastOpen" message="このメッセージを書いたのはあなたではありません" [duration]="5000" (didDismiss)="setToastOpen(false)"></ion-toast>
            </div>
          </ion-col>
          <ion-col size="3">
            <div class="ion-activatable ripple-parent" (click)="handleDelete(message.payload.doc.id, message.payload.doc.data().authorUid)">
              <ion-icon class="ion-padding" name="close-sharp">
              </ion-icon>
              <ion-label>削除</ion-label>
              <ion-ripple-effect></ion-ripple-effect>
            </div>
          </ion-col>
          <ion-col class="ion-justify-content-end" size="3">
            <ion-label>by {{message.payload.doc.data().author}}</ion-label>
          </ion-col>
          <ion-col class="ion-justify-content-end" size="3">
            <ion-label>{{message.postingDay}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button slot="start" [disabled]="backButtonDisable" (click)="handleBack()" expand="block" fill="clear" shape="round">
      <ion-icon name="chevron-back-outline"></ion-icon>
      前へ
    </ion-button>

    <ion-title>Page {{page + 1}}</ion-title>

    <ion-button slot="end" [disabled]="nextButtonDisable" (click)="handleNext()" expand="block" fill="clear" shape="round">
      次へ
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
